{% extends 'base.html' %}
{% block title %}About - Mobile-view{% endblock %}
{% block content %}
<section class="about main-container mui-container">
    <div class="about-container">
        <h1 data-aos="fade-left">About Me</h1>
        <p data-aos="fade-up">I am Kabir Shamlani, currently pursuing a B.Tech. in CSE at IIIT Hyderabad. My skills include web development, IoT, and various technical proficiencies.</p>
        <h2 data-aos="fade-right">Education</h2>
        <p data-aos="fade-up">B.Tech. in CSE, IIIT Hyderabad, May 2021 – May 2025</p>
        <h2 data-aos="fade-left">Technical Skills</h2>
        <ul>
            <li data-aos="fade-up">Languages: C/C++, HTML/CSS, JavaScript, SQL, Python, React, React-Native, MongoDB, Express/Node, Bootstrap</li>
            <li data-aos="fade-up">Developer Tools: VS Code, Google Cloud Platform, Android Studio, Xcode, Markdown, Photoshop</li>
            <li data-aos="fade-up">Technologies/Frameworks: Linux, GitHub, Gitlab, Bootstrap, Google Dialogue Flow, WordPress, Firebase, Mongo</li>
        </ul>
        <h2 data-aos="fade-right">Soft Skills</h2>
        <ul>
            <li data-aos="fade-up">Problem-Solving, Leadership, Communication, Teamwork, Time/Project Management, Adaptability, Work Ethics, Collaboration, Creativity, Flexibility, Interpersonal Skills, Attention to Detail, Decision making</li>
        </ul>
    </div>
</section>
{% endblock %}
 