{% extends 'base.html' %}
{% block title %}Home - Kabir Shamlani{% endblock %}
{% block content %}
<section class="home main-container mui-container">
    <div class="home-container">
        <h1 data-aos="fade-up">Welcome to My Portfolio</h1>
        <p data-aos="fade-right" class="typing">Showcasing my projects and skills in web development, AI, and more.</p>
        <div class="intro" data-aos="fade-up">
            <p>Hello! I'm Kabir Shamlani, a passionate developer specializing in creating impactful digital solutions. Explore my portfolio to see my work and experience.</p>
        </div>
    </div>
</section>
{% endblock %}
